html, body {
  height: 100%;
  margin: 0;
  background: #1b1b1b;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

